<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="../_files/group-log.js"></script>
  <script src="./vue.js"></script>
</head>

<body>
  <!-- app -->
  <div id="app">
    World
    <h1>{{title}}</h1>
    <span v-if="title">a{{now}}b</span>
    <div v-for="item in level" :key="item">{{item}}</div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        title: 'hi',
        now: Date.now(),
        level: [10, 20]
        // nums: {
        //   first: 1,
        //   second: 2
        // }
      }
    })
  </script>
</body>

</html>